<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.scu.crazyb.dao.UserDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
    <insert id="insertUser" parameterType="com.scu.crazyb.dao.entity.UserEntity">
      INSERT INTO tb_user (
        user_name,
        password,
        sex,
        phone,
        email,
        register_time
        )
        VALUES
        (
        #{userName},
        #{password},
        #{sex},
        #{phone},
        #{email},
        #{registerTime}
        );
   </insert>

  <select id="findUserByName" resultType="com.scu.crazyb.dao.entity.UserEntity">
    SELECT user_name userName, email email, sex sex, phone phone, password password, last_login lastLogin, register_time registerTime
     FROM tb_user WHERE user_name = #{userName} FOR UPDATE
  </select>

  <update id="updateUser" parameterType="com.scu.crazyb.dao.entity.UserEntity">
    UPDATE tb_user
    <set>
      <if test="password != null">password=#{password},</if>
      <if test="sex != null">sex=#{sex},</if>
      <if test="phone != null">phone=#{phone},</if>
      <if test="email != null">email=#{email},</if>
      <if test="lastLogin != null">last_login=#{lastLogin},</if>
    </set>
    WHERE user_name=#{userName}
  </update>
</mapper>
